.conteiner{
    width: 100%;
    background-image: url('https://wallpapers.com/images/hd/doodles-on-project-management-xwvsyosv7rb5my5r.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}